<h1>Coupons list</h1>


<% @coupons.each do |coupon| %>
  <p><%= link_to "#{coupon.coupon_code}", coupon_path(coupon) %></p>
  <p><%= coupon.store %></p>
  <br>
  <!-- link_to "#{coupon.coupon_code}", coupon_path(coupon) -->

<% end %>
