<br>
<label>&nbsp Store: </label>
<h1 style="display: inline"><%= @coupon.store %></h3>
<br>
<br>
<label>&nbsp Coupon Code: </label>
<h1 style="display: inline"><%= @coupon.coupon_code %></h3>
<br>
<br>
<br>
<br>
<button type="button"> <%= link_to "Back", coupons_path%> </button>
